{% extends 'website/base.html' %}
{% block content%}

<div class="card">
  <div class="card-header">
    {{ customer_record.first_name}}    
    {{ customer_record.last_name}}
  </div>
  <div class="card-body">
    <p class="card-text"><strong>Email:       </strong>{{ customer_record.email }}<br></p>
    <p class="card-text"><strong>Phone:       </strong>{{ customer_record.phone }}<br></p>
    <p class="card-text"><strong>Address:     </strong>{{ customer_record.address }}<br></p>
    <p class="card-text"><strong>City:        </strong>{{ customer_record.city }}<br></p>
    <p class="card-text"><strong>State:       </strong>{{ customer_record.state }}<br></p>
    <p class="card-text"><strong>Pincode:     </strong>{{ customer_record.pincode }}<br></p>
    <p class="card-text"><strong>Created_At:  </strong>{{ customer_record.created_at }}<br></p>
    <p class="card-text"><strong>ID:          </strong>{{ customer_record.id }}</p>
              
   </div>
</div>
<br><br><br>
<a href="{% url 'home' %}"><button class="btn btn-secondary col-md-2">BACK</button></a> 
<a href="{% url 'delete_record' customer_record.id %}"><button class="btn btn-danger col-md-2">DELETE</button></a> 
<a href="{% url 'update_record' customer_record.id %}"><button class="btn btn-warning col-md-2">UPDATE</button></a> 


{% endblock %}